.first-class {
  width: 20px;
  height: 30px;
}

.second-class {
  width: 50px;
}

.second-class {
  height: 100px;
}

#firstId {
  width: 20px;
  height: 30px;
  background-color: #ff00ff;
}

#secondId {
  width: 50px;
}

#secondId {
  height: 100px;
}